node_modules
_eslintrc.json
_prettierrc.json

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
# no zero-install
.pnp.*

# dependencies
/node_modules
/.pnp
.pnp.js